#top_panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #666666;
    text-align:center;
    padding: 10px 0;
}

#top_panel span {
    color: #ffffff;
    padding: 0 50px;
}

#top_panel span:hover {
   cursor:default;
}